<h4>Diff de arquivo</h4>
<h6><%= @file %></h6>
<div class='row-fluid'>
  <div class='well'>
    <pre>
      <% if @diff.empty? %>
        Arquivo não está versionado.
      <% else %>
        <%= ERB::Util.html_escape(@diff) %>
      <% end %>
    </pre>
  </div>
</div>