<h4>History</h4>
<div class='row-fluid'>
  <div class='well'>
    <pre>
      <% if @history.empty? %>
        Arquivo não está versionado.
      <% else %>
        <%= ERB::Util.html_escape(@history) %>
      <% end %>
    </pre>
  </div>
</div>