<div class='row-fluid'>
  <div class="control-group">
    <div class="controls">
      <a href="/update_trunk" class="btn">Atualizar SVN trunk</a>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <a href="/status" class="btn">Checar status trunk</a>
    </div>
  </div>
  <% if settings.show_production %>
    <div class="control-group">
      <div class="controls">
        <a href="/update_prod" class="btn">Atualizar SVN produção</a>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a href="/diff" class="btn">Diff do trunk para produção</a>
      </div>
    </div>
  <% end %>
</div>